{% extends 'base.html.twig' %}

{% block title %}
    Catégories
{% endblock %}

{% block body %}
    <div class="container mx-auto max-w-2xl p-4">
        {% for category in categories %}
            <div class="bg-white p-6 mb-4 shadow-md rounded-md">
                <h2 class="text-lg font-semibold text-gray-800">{{ category.name }}</h2>
            </div>
        {% else %}
            <p class="text-gray-700">Aucune catégorie trouvée</p>
        {% endfor %}
    </div>
{% endblock %}
