{% extends 'base.html.twig' %}

{% block title %}
    Catégories
{% endblock %}

{% block body %}
    <div class="example-wrapper mx-auto max-w-2xl w-95 text-base leading-6 font-sans">
        {% for category in categories %}
            <div class="mb-4">{{ category.name }}</div>
        {% else %}
            <p class="text-gray-700">Nothing found</p>
        {% endfor %}
    </div>
{% endblock %}