{% extends 'base.html.twig' %}

{% block title %}
  {{ category.name }}
{% endblock %}

{% block body %}
  <h1>{{ category.name }}</h1>

  {% for article in category.articles %}
    {% include 'article/_card_article.html.twig' with { article: article } only %}
  {% else %}
    <p>Aucun article dans cette catégorie</p>
  {% endfor %}
{% endblock %}